@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
:root {
    --theme-color: white;
    --primary-color: black;
    --secondary-color: #f7c331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3a4460;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  section[id] {
    scroll-margin-top: 70px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  @media (min-width: 950px) {
    .horizontal-padding {
      padding-left: 70px;
      padding-right: 70px;
    }
    .vertical-padding {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  /*Navbar*/

  .topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
  }
  
  /* Logo */
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  /* Menu */
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 0 15px;
  }
  
  .menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
  }
  
  .menu a::after {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .menu a.selected::after,
  .menu a:hover::after {
    opacity: 0.8;
  }
  
  .menu a:hover {
    color: var(--primary-color);
  }
  
  .open-menu,
  .close-menu {
    display: none;
  }
  
  .logotype {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 950px) {
    /* Menu */
    .menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      background-color: var(--menu-mobile-background-color);
      height: 100%;
      overflow-y: auto;
  
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  
    .menu li {
      padding: 0;
    }
  
    .menu a {
      color: var(--text-color-inverse);
      line-height: 70px;
      font-size: 25px;
    }
  
    .open-menu,
    .close-menu {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
  
    .close-menu {
      align-self: flex-end;
      padding: 20px 15px;
    }
  
    .menu_opened {
      opacity: 1;
      pointer-events: all;
    }
  
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
      outline: none;
    }
  
    .menu a::after {
      content: none;
    }
  
    .menu a:hover,
    .menu a.selected {
      color: var(--secondary-color);
    }
  }

  /*Profile*/

.profile-info {
  margin-bottom: 25px;
}

.profile-img {
  width: 80%;
  max-width: 300px;
}

.profile-img-section {
  position: relative;
}

.profile-img-line {
  background-color: var(--secondary-color);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.profile {
  text-align: center;
}

.profile-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
  font-family: "Noto Sans", sans-serif;
}

.profile-details {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}

.profile-btn {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  border: none;
  font-size: 20px;
  padding: 0.5em 1em;
  border-radius: 7px;
  cursor: pointer;
}

.profile-btn:hover {
  filter: brightness(130%);
}

@media (min-width: 950px) {
  .profile-info {
    margin-bottom: 0px;
  }

  .profile-img {
    width: 100%;
    max-width: 350px;
    transform: scaleX(-1);
  }

  .profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }

  .profile-title {
    font-size: 60px;
  }

  .profile-details {
    font-size: 25px;
    margin: 30px 0;
  }

  .profile-btn {
    font-size: 28px;
  }
}

/*Experiences / Education*/

.experiences {
    display: flex;
    flex-direction: column;
  }
  
  .experiences-body {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
  }
  
  
  .experiences-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
  }
  
  .experience-date {
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary-color);
  }
  
  .experience-company {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
  }
  
  .experience-position {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .experience-description {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .experience {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  @media (min-width: 950px) {
    .experiences-title {
      font-size: 50px;
      margin: 35px 0;
    }
  
    .experience-date {
      font-size: 40px;
    }
  
    .experience-company {
      font-size: 25px;
    }
  
    .experience-position {
      font-weight: bold;
      font-size: 20px;
      margin-top: 20px;
    }
  
    .experience-description {
      font-size: 20px;
      margin-top: 10px;
      line-height: 1.3;
    }
  
    .experience {
      padding: 0;
    }
  
    .experience_left {
      text-align: right;
    }
  
    .experiences-grid {
      display: grid;
      grid-template-columns: auto 2px auto;
      gap: 20px 70px;
      padding: 70px;
      justify-content: center;
      max-width: 980px;
      margin: 0 auto;
    }
  
    .line {
      background-color: var(--text-color-inverse);
      position: relative;
    }
  
    .line::before,
    .line::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: var(--text-color-inverse);
      border-radius: 50%;
  
      position: absolute;
      top: -20px;
      left: -9px;
    }
  
    .line::after {
      top: 100%;
      z-index: 1;
    }
  }

/*Skills*/

.skills {
    max-width: 980px;
    margin: 0 auto;
  }
  
  .skills-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .skills-skill {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media(min-width: 950px) {
    .skills-title {
      font-size: 50px;
    }
    
    .skills-skill {
      font-size: 30px;
      margin: 20px;
    }
  }

  /*Contact*/

  .contact {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
  
    display: grid;
    gap: 25px;
  }
  
  .contact p,
  .contact h2,
  .contact ul {
    margin: 0;
    padding: 0;
  }
  
  .contact-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  
  .contact-details{
    display: grid;
    gap: 20px;
  }
  
  .contact-details-group{
    display: grid;
    gap: 3px;
  }
  
  .social-list {
    list-style: none;
  
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  
  .social-list img {
    height: 25px;
  }
  
  .social-list img:hover {
    filter: drop-shadow(0 0 5px var(--secondary-color));
  }
  
  @media (min-width: 950px) {
    .contact {
      font-size: 20px;
      padding: 70px;
  
      max-width: 980px;
      margin: 0 auto;
  
      box-sizing: border-box;
    }
  
    .contact-title {
      font-size: 35px;
      text-align: left;
    }
  
    .social-list {
      justify-content: flex-start;
    }
  
    .social-list img {
      height: 35px;
    }
  
    .contact-title {
      grid-area: title;
    }
  
    .contact-details {
      grid-area: details;
    }
  
    .social {
      grid-area: social;
    }
  
    .contact {
      display: grid;
      grid:
        "title   form" auto
        "details form" 1fr
        "social  form" auto /
        1fr      1fr;
      align-items: start;
    }
  }